h3 {
    font-size: 2.5rem;
    @media screen and (max-width: 768px) {
        & {
            font-size: 2rem;
        }
    }
}
.alternativeText {
    color: white;
    font-style: italic;

}
span {
    animation: 1s blink infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}