@use './variables';

@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin container {
    width: 80%;
    margin: 0 auto;
}
@mixin horizontalBar {
    content:" ";
    width: 100px;
    height: 5px;
    background-color: variables.$font-color-primary;
    display: block;
    position: absolute;
}
@mixin verticalBar {
    content:" ";
    height: 100px;
    width: 5px;
    background-color: variables.$font-color-primary;
    display: block;
    position: absolute;
}
